<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            {{action.msg}}

          </slot>
        </header>
        <footer class="modal-footer">
          <slot name="footer">
          <v-btn color="primary" dark class="mb-2" @click="close">Cerrar</v-btn>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>
<style scope>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
  }

</style>
<script>
  export default {
    name: 'alet',
    props: {
        action: Object
    },
    data: () => ({
      
    }),
    // created () {
    //     if(this.action){
    //         console.log(this.action)
    //         this.$swal('Heading', this.action.msg, 'OK');
    //         this.alert = false
    //     }
    // }
    methods: {
      close() {
        this.$emit('close');
      },
    },
  }
</script>
