<template>
  <v-container>
    <div @click="plusGoals(item)">
    <v-icon
        v-if="plus"
        small
        class="mr-2"
      >
        mdi-arrow-up
    </v-icon>
    <v-icon
        v-if="plus"
        small
        class="mr-2"
      >
        mdi-soccer
    </v-icon>
    </div>
    
    <div @click="minusGoals(item)">
        <v-icon
            v-if="minus"
            small
            class="mr-2"
        >
            mdi-arrow-down
        </v-icon>
        <v-icon
            v-if="minus"
            small
            class="mr-2"
        >
            mdi-arrow-down
            mdi-soccer
        </v-icon>
    </div>
  </v-container>
</template>

<style scope>
div {
    border: 1px
}
</style>

<script>
  export default {
    name: 'goals',

    props: {
        minus:{
            type: Boolean,
            default: false
        },
        plus:{
            type: Boolean,
            default: false
        },
        item: Object,
        list: Array
    },
    data: () => ({
      msg: 'goals'
    }),
    methods: {

      plusGoals (item) {
        const index = this.list.indexOf(item)
        this.list[index].goals += 1
      },
      minusGoals (item) {
        const index = this.list.indexOf(item)
        this.list[index].goals -= this.list[index].goals > 0 
            ? 1
            : 0
      },
    },
  }
</script>
