<template>
  <v-container>
    <v-data-table
    :headers="headers"
    :items="desserts"
    :search="search"
    sort-by="name"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Team - Ahora hay {{ players_len }} jugadores</v-toolbar-title>
        
        <v-spacer></v-spacer>
        <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
        ></v-text-field>
        
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo jugador</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="editedItem.position" label="Position"></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
      <goals :plus="true" v-bind:item="item" :list="desserts"/>
      <goals :minus="true" :item="item" :list="desserts"/>
    </template>
  </v-data-table>
  <alert v-show="alertModal" @close="closeModal" :action="action"/>
  </v-container>
</template>

<style scope>
td {
    text-align: center
}
</style>

<script>
  import players from '../constants/players.js'
  import Goals from '@/components/goals'
  import Alert from '@/components/alert'
  
  export default {
    name: 'Team',
    components: {
        'goals': Goals,
        'alert': Alert,
    },
    data: () => ({
      alertModal: false,
      action: {
        msg: '',
      },
      search: '',
      dialog: false,
      headers: [
        {
          text: 'Nombre',
          align: 'center',
          sortable: true,
          value: 'name',
        },
        { 
            text: 'Posición',
            align: 'start',
            sortable: true, 
            value: 'position' 
        },
        { text: 'cantidad de goles', value: 'goals' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        position: '',
        goals: 0,
      },
      defaultItem: {
        name: '',
        position: '',
        goals: 0,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo Elemento' : 'Editar elemento'
      },
      players_len () {
        return players.length
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
        
      showModal() {
        this.alertModal = true;
      },
      closeModal() {
        this.alertModal = false;
      },
        
      initialize () {
        this.desserts = players
      },

      editItem (item) {
        
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
        this.action.msg = `Se edito un jugador jugador. (nombre: ${item.name})`
        this.showModal()
      },

      deleteItem (item) {
        const index = this.desserts.indexOf(item)
        this.desserts.splice(index, 1)
        this.action.msg = `Se elimino un jugador jugador. (nombre: ${item.name})`
        this.showModal()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
        this.action.msg = 'Se creo un nuevo jugador jugador.'
        this.showModal()
      },
    },
  }
</script>
